<!DOCTYPE html>
<html ng-app = "twitterApi">
<head>
	<title>Twitter api </title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="dependencies/oauth.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
	<script src= "js/app.js"></script>
	<script src= "js/services.js"></script>
</head>
<body>
	<div class="container" ng-controller="twitterApiCtrl as twitter">
			<button class="btn  btn-info" ng-click="twitter.connectToAccount()"> login </button>
			<button class="btn  btn-info" ng-click="twitter.fetchTweets(2) "> fetch tweets</button>
			<div class="row" >	
				<div  class="col-md-6">
			   
				   <form>
				   		<div class="form-group">
				   			<input class="form-control" type ="text" ng-model="query" 
				   				placeholder="type in a word">
				   		</div>
				   </form>
				 </div>  
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<h1>tweets about {{query}}</h1>
				<div  class="col-md-6">

					<ul class="list-group">
					  <li ng-repeat = "tweet in tweets" class="list-group-item">
					  		{{tweet}}
					  </li>
					</ul>
				</div>
			</div>
	</div>
</body>
</html>